* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid red; */
}

.navbar-brand {
    width: 6%;
}

.navbar {
    background-color: white;
}

a.nav-link{
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.marnav
{
    background-color: green;
}

.bgimg {
    background-image: url('dmarthomepic.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
}

.btn1 {
    width: 10%;
    padding: 3px;
}

.apara {
    color: rgb(167, 160, 160);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.d-block
{
    aspect-ratio: 3/2;
    width: 100%;
}
/* products */
.row
{
    margin: 3px;
    margin-left: 5px;
}
.card-img-top
{
    aspect-ratio: 4/4;
    width: 100%;
}
.card{
    margin: 1%;
    
}
.fbimg
{
    background-color: black;
}
.fhead
{
    color: white;
    text-decoration: underlinesolid 1px;
}
.ffour h6{
    color: white;
}
.ficons
{
    text-align: center;
    padding: 1%;
}
.ficons{
    color: yellow;
    font-size: 35px;
    padding: 1%;
}
.ficons i:hover{
    color: red;
}
