* {
    box-sizing: border-box;
    margin: 0;
}

.navbar-brand {
    width: 6%;
}

.navbar {
    background-color: bisque;
}

.nav-link {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.bgimg {
    background-image: url('fruit.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 217vh;
    height: 100vh;
}

.btn {
    width: 10%;
}

.apara {
    color: rgb(167, 160, 160);
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}
.d-block
{
    aspect-ratio: 3/2;
    width: 100%;
}